<html>
<head>
  <meta charset="utf-8">
  <title>covidDeaths</title>

  <!-- Leaflet stylesheet is below -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <!-- C3 stylesheet is below -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.css"
   integrity="sha512-GQSxWe9Cj4o4EduO7zO9HjULmD4olIjiQqZ7VJuwBxZlkWaUFGCxRkn39jYnD2xZBtEilm0m4WBG7YEmQuMs5Q=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="preconnect" href="https://fonts.googleapis.com">


  <!-- Stylesheet for the report's custom layout is below -->
  <style>
    body {
      font-family: sans;
      display: grid;
      grid-template-columns: 50vw 50vw;
      grid-template-rows: auto 35vh 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "header header"
        "map2 map2"
        "chart2 chart3"
        "chart6 chart6";
      column-gap: 1rem;
      row-gap: 1rem;
    }
    h1 {
      grid-area: header;
    }
    #case_vax_map {
      grid-area: map2;
      height: 50vh;
    }
    #deathchart {
      grid-area: chart2;
    }
    #hospchart {
      grid-area: chart3;
    }
    #agechart{
      grid-area: chart6;
    } 
  </style>
</head>

<body>
  <h1>Visualization of COVID-19 in NYC</h1>

  <div id="deathchart"></div>

  <div id="hospchart"></div>

  <div id="case_vax_map"></div>

  <div id="agechart"></div>

  <!-- Leaflet JavaScript library is below -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <!-- D3 JavaScript library is below -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
   integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- C3 JavaScript library is below -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.js"
   integrity="sha512-11Z4MD9csmC3vH8Vd0eIPJBQu3uEHEqeznWEt3sLBCdQx3zm9mJbBcJH8WTcyGY9EXDE81BNpjE2vLosPK8cFQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script>
    
    /*
    
    deaths ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    */
    var options = {
        series: [{
          name: 'death',
          data: {{ daily_summary['DEATH_COUNT']}}
        }],
        chart: {
          type: 'area',
          height: 300,
          zoom: {
            enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {curve: 'smooth',
                width: 2,
      },
      title: {
        text: 'time curve of daily death',
        align: 'left'
      },
      labels: {{ daily_summary['date_of_interest'] }},
      xaxis: {
        type: 'datetime',
      },
      yaxis: {
        opposite: true
      },
      legend: {
        horizontalAlign: 'left'
      }
    };

    var deathchart = new ApexCharts(document.querySelector("#deathchart"), options);
    deathchart.render();

    /*
    
    hosp ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    */

    var options = {
      series: [{
        name: 'hospital',
        data: {{ daily_summary['HOSPITALIZED_COUNT']}}
      }],
      chart: {
        type: 'area',
        height: 300,
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth',
                width: 2,
      },

      title: {
        text: 'time curve of daily hospitalization',
        align: 'left'
      },
      labels: {{ daily_summary['date_of_interest'] }},
      xaxis: {
        type: 'datetime',
      },
      yaxis: {
        opposite: true
      },
      legend: {
        horizontalAlign: 'left'
      }
    };

    var hospchart = new ApexCharts(document.querySelector("#hospchart"), options);
    hospchart.render();

    
    /*
    
    case_vax map of vaccinated case rate ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    
    */  
  var initialCenter2 = [40.7128, -74.0060];  // <-- Latitude, Longitude
  var initialZoom2= 10;
  var case_vax_map = L.map('case_vax_map', {
    zoomSnap: 0,
    zoomDelta: 0.25
  }).setView(initialCenter2, initialZoom2);

  var baseLayer2 = new L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-background/{z}/{x}/{y}{r}.{ext}', {
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    subdomains: 'abcd',
    minZoom: 0,
    maxZoom: 20,
    ext: 'png'
  });
  baseLayer2.addTo(case_vax_map);

  function getColor2(d) {
  return d > 0.005 ? '#800026' :
         d > 0.003 ? '#BD0026' :
         d > 0.002  ? '#E31A1C' :
         d > 0.001  ? '#FC4E2A' :
         d > 0.0005   ? '#FD8D3C' :
         d > 0.0001  ? '#FEB24C' :
         d > 0  ? '#FED976' :
                    '#FFEDA0';
  }

  function getStyle2(feature) {
    var scaledValue = feature.properties['case_vax_ratio'];
    var featureColor = getColor2(scaledValue);

    return {
      color: featureColor,
      weight: 2,
    opacity: 1,
    dashArray: '3',
    fillOpacity: 0.7
    };
  }

  function getTooltip(layer) {
    var case_vax = layer.feature.properties['case_vax_ratio'];
    return case_vax;
  }

  var case_vax_mapdata = {{covid_map}};
  var dataLayer = L.geoJSON(case_vax_mapdata, {
    style: getStyle2
  });
  dataLayer.bindTooltip(getTooltip)
  dataLayer.addTo(case_vax_map);

  /* 
    
    COVID Cases by Age ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    
    */
    
    var agechartoptions = {
      series: [
        {
          name: '0 to 4',
          data: {{ wk_all['case_age_0_4'] }}
        },
        {
          name: '5 to 12',
          data: {{ wk_all['case_age_5_12'] }}
        },
        {
          name: '13 to 17',
          data: {{ wk_all['case_age_13_17'] }}
        },
        {
          name: '18 to 24',
          data: {{ wk_all['case_age_18_24'] }}
        },
        {
          name: '25 to 34',
          data: {{ wk_all['case_age_25_34'] }}
        },
        {
          name: '35 to 44',
          data: {{ wk_all['case_age_35_44'] }}
        },
        {
          name: '45 to 54',
          data: {{ wk_all['case_age_45_54'] }}
        },
        {
          name: '55 to 64',
          data: {{ wk_all['case_age_55_64'] }}
        },
        {
          name: '65 to 74',
          data: {{ wk_all['case_age_65_74'] }}
        },
        {
          name: '75 and up',
          data: {{ wk_all['case_age_75up'] }}
        }
      ],
      chart: {
        type: 'bar',
        height: 350
        },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
      },
      title: {
        text: 'Positivity by Age',
        align: 'left'
      },
    };
      
    var agechart = new ApexCharts(document.querySelector("#agechart"), agechartoptions);
    agechart.render();

  </script>
</body>
</html>
