<html>
<head>
  <meta charset="utf-8">
  <title>COVID19_dashboard</title>

  <!-- Leaflet stylesheet is below -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <!-- C3 stylesheet is below -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.css"
   integrity="sha512-GQSxWe9Cj4o4EduO7zO9HjULmD4olIjiQqZ7VJuwBxZlkWaUFGCxRkn39jYnD2xZBtEilm0m4WBG7YEmQuMs5Q=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">



  <!-- Stylesheet for the report's custom layout is below -->
  <style>
    body {
      font-family: sans;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 10vh 1fr 35vh 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "header header"
        "text map"
        "table1 chart1"
        "chart4 chart5";
      column-gap: 1rem;
      row-gap: 1rem;
    }
    h1 {
      grid-area: header;
    }
    #explanatoryText{
      grid-area: text;
    }
    #densitymap {
      grid-area: map;
    height: 300px;
    }
    #summarytable {
      grid-area: table1;
    }
    #casechart {
      grid-area: chart1;
    }
    #vaccchart {
      grid-area: chart4;
    }
    #hosp_vac_chart{
      grid-area: chart5;
    }
    .legend {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 5px;
  }
  .legend ol {
    list-style: none;
    padding: 0;
    display: flex;
  }
  .legend li {
    display: flex;
    gap: 0.25em;
  }
  .legend li:first-child {
    flex-direction: row-reverse;
  }
  .key-color {
    display: block;
    width: 1rem;
    height: 1rem;
  }

  </style>
</head>

<body>
  <h1>Visualization of COVID-19 in NYC</h1>

  <!-- Explatory text goes in its own div -->
  <div id="explanatoryText">
    <nav>
      <a href="cases.html">Cases</a>
      <a href="hospital.html">Hospitalization</a>
      <a href="deaths.html">Deaths</a>
    </nav>

    <p>This dashboard visualizes the basic situation of COVID-19 in epidemic curves, maps, tables and bar plots in terms of daily, last 14 or 28 days. The most severe pandemic regions were identified in tables and maps to help government understand the basic pandemic trend, know how to allocate medical resources and adjust the prevention strategies.</p>
    <p>The hotspots of confirmed cases and hospitalization concentrated mainly in Staten Island and Queens. Counties with lower incidence rate are Bronx and Manhattan. </p>
    <p>Data source: NYC Open Data,  New York State Department of Health </p>

    <table>
      <tr>
        <td></td>
        <td>Daily Avg for Last 7Days</td>
        <td>14-day Change</td>
        <td>Total report cases</td>
      </tr>
      {% for row in new_report %}
      <tr>
        <td>{{ row.Type }}</td>
        <td>{{ row.Count_7Day_Avg }}</td>
        <td>{{ row.Change }}</td>
        <td>{{ row.Count_Total }}</td>
      </tr>
      {% endfor %}
    </table>

  
  </div>

  <!-- Table 1 goes in its own div -->
  <div id="summarytable">
    

    <table>
      <tr>
        <td>Rank</td>
        <td>Region</td>
        <td>14-day Positive rate</td>
      </tr>
      {% for current_test in top_test %}
      <tr>
        <td>{{ current_test.Rank }}</td>
        <td>{{ current_test.neighborhood_name }}</td>
        <td>{{ current_test.percent_positivity_7day }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
    
  <div id="densitymap"></div>

  <div id="casechart"></div>

  <div id="vaccchart"></div>

  <div id="hosp_vac_chart"></div>

  <div id="agechart"></div>


  <!-- Leaflet JavaScript library is below -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <!-- D3 JavaScript library is below -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
   integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- C3 JavaScript library is below -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.js"
   integrity="sha512-11Z4MD9csmC3vH8Vd0eIPJBQu3uEHEqeznWEt3sLBCdQx3zm9mJbBcJH8WTcyGY9EXDE81BNpjE2vLosPK8cFQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script>
    /*

        MAP OF POP. DENSITY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    var initialCenter = [40.7128, -74.0060];  // <-- Latitude, Longitude
    var initialZoom = 10;
    var densitymap = L.map('densitymap', {
      zoomSnap: 0,
      zoomDelta: 0.25
    }).setView(initialCenter, initialZoom);

    var baseLayer = new L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-background/{z}/{x}/{y}{r}.{ext}', {
    	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    	subdomains: 'abcd',
    	minZoom: 0,
    	maxZoom: 20,
    	ext: 'png'
    });
    baseLayer.addTo(densitymap);

    function getColor(d) {
    return d > 7 ? '#800026' :
           d > 6 ? '#BD0026' :
           d > 5  ? '#E31A1C' :
           d > 4  ? '#FC4E2A' :
           d > 3   ? '#FD8D3C' :
           d > 2  ? '#FEB24C' :
           d > 1  ? '#FED976' :
                      '#FFEDA0';
    }

    function getStyle(feature) {
      var scaledValue = feature.properties['percentpositivity_7day'];
      var featureColor = getColor(scaledValue);

      return {
        color: featureColor,
        weight: 2,
      opacity: 1,
      dashArray: '3',
      fillOpacity: 0.7
      };
    }

    function getTooltip(layer) {
      var density = layer.feature.properties['percentpositivity_7day'];
      return density;
    }

    var densitymapdata = {{covid_map}};
    var dataLayer = L.geoJSON(densitymapdata, {
      style: getStyle
    });
    dataLayer.bindTooltip(getTooltip)
    dataLayer.addTo(densitymap);

    var overviewLegend = L.control({position: 'bottomright'});
    overviewLegend.onAdd = function (map) {
      var container = L.DomUtil.create('div', 'info legend');
      container.innerHTML = `
          <ol>
            <li><span class="key-color" style="background: #FFEDA0;"></span><span class="key-label">Low</span></li>
            <li><span class="key-color" style="background: #FED976;"></span></li>
            <li><span class="key-color" style="background: #FEB24C;"></span></li>
            <li><span class="key-color" style="background: #FD8D3C;"></span></li>
            <li><span class="key-color" style="background: #FC4E2A;"></span></li>
            <li><span class="key-color" style="background: #E31A1C;"></span></li>
            <li><span class="key-color" style="background: #BD0026;"></span></li>
            <li><span class="key-color" style="background: ##800026;"></span><span class="key-label">High</span></li>
          </ol>
          `;
      return container;
    };
    overviewLegend.addTo(densitymap);

    /*

    Confirmed cases ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    var options = {
        series: [{
          name: 'case',
          data: {{ daily_summary['CASE_COUNT']}}
        }],
        chart: {
          type: 'area',
          height: 300,
          zoom: {
            enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth',
        width: 2,
      },
      fill: {type: 'gradient',
              gradient: {
                opacityFrom: 0.6,
                opacityTo: 0.8,
              }
            },
      title: {
        text: 'Daily confirmed cases',
        align: 'left'
      },
      labels: {{ daily_summary['date_of_interest'] }},
      xaxis: {
        type: 'datetime',
      },
        colors: ['#E31A1C'],
      yaxis: {
        opposite: true
      },
      legend: {
        horizontalAlign: 'left'
      }
    };

    var casechart = new ApexCharts(document.querySelector("#casechart"), options);
    casechart.render();


    /*

    Vaccinations ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    var options = {
      chart: {
        height: 350,
        width:500,
        type: "line",
        stacked: false
      },
      dataLabels: {
        enabled: false
      },
      colors: ["#247BA0","#FF1654"],
      series: [
        {
          name: "First Dose",
          data: {{vac_accumulated_by_day['First_Dose']}}
        },
        {
          name: "Series Complete",
          data: {{vac_accumulated_by_day['Series_Complete']}}
        }
      ],
      stroke: {
        curve: 'smooth'
      },
      plotOptions: {
        bar: {
          columnWidth: "20%"
        }
      },
      labels: {{ vac_accumulated_by_day['date'] }},
      xaxis: {
        type: 'datetime',
      },
      yaxis: [
        {
          axisTicks: {
            show: true
          },
          axisBorder: {
            show: true,
            color: "#247BA0"
          },
          labels: {
            style: {
              colors: "#247BA0"
            }
          },
          title: {
            text: "First Dose",
            style: {
              color: "#247BA0"
            }
          }
        },
        {
          opposite: true,
          axisTicks: {
            show: true
          },
          axisBorder: {
            show: true,
            color: "#FF1654"
          },
          labels: {
            style: {
              colors: "#FF1654"
            }
          },
          title: {
            text: "Series Complete",
            style: {
              color: "#FF1654"
            }
          }
        }
      ],
      tooltip: {
        shared: false,
        intersect: true,
        x: {
          show: false
        }
      },
      legend: {
        horizontalAlign: "left",
        offsetX: 40
      }

    };

    var vaccchart = new ApexCharts(document.querySelector("#vaccchart"), options);
    vaccchart.render();

    /*

    comparison of the hosp under vac or unvac ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    var options = {
        series: [{
            name: 'hospital rate under vaccine',
            data: {{ breakthrough['vax_hosp_rate_adj'] }}
          },
          {
            name: 'hospital rate under unvaccine',
            data: {{ breakthrough['unvax_hosp_rate_adj'] }}
        }],
        chart: {
        type: 'bar',
        height: 350
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        title: {
          text: 'hospitalization rate: vaccine vs. unvaccine',
          align: 'left'
        },
        labels: {{breakthrough['Week_of_diagnosis']}},
        xaxis: {
          type: 'datetime',
        },
        yaxis: {
          opposite: true
        },
        fill: {
          opacity: 1
        },
    };

    var hosp_vac_chart = new ApexCharts(document.querySelector("#hosp_vac_chart"), options);
    hosp_vac_chart.render();

    
  </script>
</body>
</html>
